---
permalink: /conference/
layout: single
title: "Conference Deadlines"
excerpt: "This is a page showing all the dealines of related conferences"
---
<script src="{{ site.baseurl}}/static/js/jquery.min.js"></script>
<script src="{{ site.baseurl}}/static/js/moment.min.js"></script>
<script src="{{ site.baseurl}}/static/js/moment-timezone-with-data.min.js"></script>
<script src="{{ site.baseurl}}/static/js/easytimer.min.js"></script>
	<div class="conf-container">
		{% for conf in site.data.conferences %}
        <div id="{{ conf.name | append: conf.year | slugify }}" class="conf {% for tag in conf.tags %} {{tag}} {% endfor %}" style="display: flex;">
          <div>
              <div>
                <h2><a href="{{conf.link}}">{{conf.name}} {{conf.year}}</a></h2>
                <div>
                  {{ conf.description }}<br>
                  {{conf.date | replace: '-', '–'}} {% if conf.place %}// <a href="http://maps.google.com/?q={{conf.place}}">{{conf.place}}</a>{% endif %}<br>
                </div>
              </div>
              <div>
                <span class="timer"></span>
                <div>
                  <div>Deadline:
                    <span class="deadline-time"></span>
                    <div class="meta">
                      {{ conf.comment }}
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <hr>
        </div>
        {% endfor %}
    </div>
<script>

$(function() {
	deadlineByConf = {};
    {% for conf in site.data.conferences %}
		{% assign conf_id = conf.name | append: conf.year | slugify %}
		{% if conf.deadline == "TBA" %}
			$('#{{ conf_id }} .timer').html("TBA");
			$('#{{ conf_id }} .deadline-time').html("TBA");
			deadlineByConf["{{ conf_id }}"] = moment();
		{% else %}
			var rawDeadlines = {{ conf.deadline | jsonify }} || [];
			if (rawDeadlines.constructor !== Array) {
				rawDeadlines = [rawDeadlines];
			}
			var parsedDeadlines = [];
			while (rawDeadlines.length > 0) {
				var rawDeadline = rawDeadlines.pop();
				if (rawDeadline.indexOf('%m') >= 0) {
					for (var m = 1; m <= 12; m++) {
						rawDeadlines.push(rawDeadline.replace('%m', m < 10 ? '0' + m : m));
					}
				} else if (rawDeadline.indexOf('%y') >= 0) {
					year = parseInt(moment().year());
					rawDeadlines.push(rawDeadline.replace('%y', year));
					rawDeadlines.push(rawDeadline.replace('%y', year + 1));
				} else {
					{% if conf.timezone %}
					var deadline = moment.tz(rawDeadline, "{{ conf.timezone }}");
					{% else %}
					var deadline = moment(rawDeadline + "-12:00");
					{% endif %}
					parsedDeadlines.push(deadline);
				}
			}
			var confDeadline = parsedDeadlines[0];
			var today = moment();
			for (var i = 1; i < parsedDeadlines.length; i++) {
				deadlineCandidate = parsedDeadlines[i];
				if ((today.diff(deadlineCandidate) < 0 && today.diff(deadlineCandidate) > today.diff(confDeadline))) {
					confDeadline = deadlineCandidate;
				}
			}
			alert(confDeadline);
			alert(confDeadline.toDate().strftime('%D days %Hh %Mm %Ss'));
			if (confDeadline) {

				$('#{{ conf_id }} .timer').countdown(confDeadline.toDate(), function(event) {
					var today = moment();
					if (today.diff(confDeadline) <= 0) {
						$(this).html(event.strftime('%D days %Hh %Mm %Ss'));
					}
				});
				if (today.diff(confDeadline) > 0) {
					$('#{{ conf_id }}').addClass('past');
				}

				$('#{{ conf_id }} .deadline-time').html(confDeadline.local().format('D MMM YYYY, h:mm:ss a'));

				deadlineByConf["{{ conf_id }}"] = confDeadline;
			}
		{% endif %}
	{% endfor %}
		
});
</script>