---
permalink: /conference/
layout: single
title: "Conference Deadlines"
excerpt: "This is a page showing all the dealines of related conferences"
---

	<div>
		{% for conf in site.data.conferences %}
        <div id="{{ conf.name | append: conf.year | slugify }}" class="conf {% for tag in conf.tags %} {{tag}} {% endfor %}" style="display: flex;">
          <div>
              <div>
                <h2><a href="{{conf.link}}">{{conf.name}} {{conf.year}}</a></h2>
                <div>
                  {{ conf.description }}<br>
                  {{conf.date | replace: '-', '–'}} {% if conf.place %}// <a href="http://maps.google.com/?q={{conf.place}}">{{conf.place}}</a>{% endif %}<br>
                </div>
              </div>
              <div>
                <span class="timer"></span>
                <div>
                  <div>Deadline:
                    <span class="deadline-time"></span>
                    <div class="meta">
                      {{ conf.comment }}
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <hr>
        </div>
        {% endfor %}
    </div>