---
title: "Conference Dealines"
permalink: /conference/
---

    <link rel="stylesheet" type="text/css" href="/static/css/deadlines.css?t={{site.time | date: '%s'}}" media="screen,projection">

    <script type="text/javascript" src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/moment-timezone-with-data.min.js"></script>
    <script src="/static/js/store.min.js"></script>
    <script src="/static/js/ouical.min.js"></script>
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div>
                  <h1>
                    Conference Deadlines 
                  </h1>
                </div>
                <div>
                  Countdowns to top Security/Software Engineering/Programming Language/AI conference deadlines.
                </div>
            </div>
            <br>
        <div class="row">
          <div>
            <!-- <div class="well"> -->
              <form class="form-inline">
                <div class="form-group">
                  {% for type in site.data.types %}
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="{{ type.sub }}-checkbox" class=""> {{ type.name }}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </form>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="conf-container">
        {% for conf in site.data.conferences %}
        <div id="{{ conf.name | append: conf.year | slugify }}" class="conf {% for sub in conf.sub %} {{sub}} {% endfor %}">
          <div class="row">
              <div>
                <h2><a href="{{conf.link}}">{{conf.name}} {{conf.year}}</a></h2>
                <div class="meta">
                  {{ conf.description }}<br>
                  {{conf.date }} {% if conf.place %}// <a href="http://maps.google.com/?q={{conf.place}}">{{conf.place}}</a>{% endif %}<br>
                </div>
              </div>
              <div>
                <span class="timer"></span>
                <div class="deadline">
                  <div>Deadline:
                    <span class="deadline-time"></span>
                    <div class="meta">
                      {{ conf.comment }}
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <hr>
        </div>
        {% endfor %}
      </div>
      <footer>
        Maintained by @<a href="//twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a>.
      </footer>
    </div>
	
    <script type="text/javascript" charset="utf-8">
    $(function() {
        var colors = ['#341f97', '#ee5253', '#2e86de', '#ff9f43', '#10ac84', '#222f3e'];
        function addUtcTimeZones() {
          for (let offset = -12; offset <= 12; offset++) {
            const posixSign = offset <= 0 ? '+' : '-';
            const isoSign = offset >= 0 ? '+' : '-';
            const link = `Etc/GMT${posixSign}${Math.abs(offset)}|UTC${isoSign}${Math.abs(offset)}`;
            moment.tz.link(link);
          }
        }
        addUtcTimeZones();

        try {
          var local_timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
          $('.local-timezone').text(local_timezone.toString());
        }
        catch(err) {
          $('.local-timezone-hide').hide();
        }

        var conf_type_data = {{ site.data.types | jsonify }};
        var all_subs = [];
        var sub2name = {}; var name2sub = {};
        for (var i = 0; i < conf_type_data.length; i++) {
          all_subs[i] = conf_type_data[i]['sub'];
          sub2name[conf_type_data[i]['sub']] = conf_type_data[i]['name'];
          name2sub[conf_type_data[i]['name']] = conf_type_data[i]['sub'];
        }

        {% for conf in site.data.conferences %}
        {% for sub in conf.sub %}
        $('#{{conf.id}} .{{sub}}-tag').html(sub2name["{{sub}}"].toLocaleLowerCase());
        {% endfor %}
        {% if conf.deadline == "TBA" %}
          $('#{{conf.id}} .timer').html("TBA");
          $('#{{conf.id}} .deadline-time').html("TBA");
        {% else %}
          var timezone = {% if conf.timezone %}"{{conf.timezone}}" {% else %} "America/New_York" {% endif %};
          var confDate = moment.tz("{{conf.deadline}}", timezone);

          $('#{{conf.id}} .timer').countdown(confDate.toDate(), function(event) {
            $(this).html(event.strftime('%D days %Hh %Mm %Ss'));
          });

          try {
            var localConfDate = moment.tz(confDate, local_timezone);
            $('#{{conf.id}} .deadline-time').html(localConfDate.toString());
          }
          catch(err) {
            console.log("Error converting to local timezone.");
          }

          var myCalendar = createCalendar({
            options: {
              class: 'calendar-obj',

              id: '{{conf.id}}'
            },
            data: {
              title: '{{conf.title}} {{conf.year}} deadline',

              start: confDate.toDate(), 

              duration: 60,
            }
          });
          document.querySelector('#{{conf.id}} .calendar').appendChild(myCalendar);

          var today = moment();
          diff = today.diff(confDate);
          $('#{{conf.id}}').attr("diff", diff);
          if (diff > 0) {
            $('#{{conf.id}}').addClass('past');
            $('#{{conf.id}}').appendTo($("#past_confs"));
          }
        {% endif %}
        {% endfor %}

        $("#coming_confs .ConfItem").sort(function (a, b) {
          return $(b).attr('diff') - $(a).attr('diff');
        }).appendTo($("#coming_confs"));

        $("#past_confs .ConfItem").sort(function (a, b) {
          return $(b).attr('diff') - $(a).attr('diff');
        }).appendTo($("#past_confs"));

        var url = new URL(window.location);
        var subs = url.searchParams.get('sub');
        if (subs == undefined) {
           subs = store.get('{{ site.domain }}');
        } else {
           subs = subs.toUpperCase().split(',');
        }
        if (subs != undefined) {
          for (var i = 0; i < all_subs.length; i++) {
            if (subs.indexOf(all_subs[i]) < 0) {
              $('.' + all_subs[i] + '-conf').hide();
            }
          }
          for (var i = 0; i < subs.length; i++) {
            $('.' + subs[i] + '-conf').show();
          }
        }
        if (subs === undefined) {
          subs = all_subs;
          for (var i = 0; i < subs.length; i++) {
            $('#' + subs[i] + '-checkbox').prop('checked', true);
          }
        } else {
          for (var i = 0; i < subs.length; i++) {
            $('#' + subs[i] + '-checkbox').prop('checked', true);
          }
        }
        store.set('{{ site.domain }}', subs);
        window.history.pushState('', '', '/?sub=' + subs.join());

        $('form :checkbox').change(function(e) {
          var checked = $(this).is(':checked');
          var cid = $(this).prop('id');
          var csub = cid.substring(0, cid.length - 9);
          if (checked == true) {
            $('.' + csub + '-conf').show();
            if (subs.indexOf(csub) < 0)
              subs.push(csub);
          }
          else {
            $('.' + csub + '-conf').hide();
            var idx = subs.indexOf(csub);
            if (idx >= 0)
              subs.splice(idx, 1);
            for (var i = 0; i < subs.length; i++) {
              $('.' + subs[i] + '-conf').show();
            }
          }
          console.log(subs);
          store.set('{{ site.domain }}', subs);
          window.history.pushState('', '', '/?sub=' + subs.join());
        });

        $('.conf-sub').click(function(e) {
          var csub = $(this).data('sub');
          for (var i = 0; i < subs.length; i++) {
            if (subs[i] != csub) {
              $('#' + subs[i] + '-checkbox').prop('checked', false);
              $('.' + subs[i] + '-conf').hide();
            }
          }
          $('#' + csub + '-checkbox').prop('checked', true);
          $('.' + csub + '-conf').show();
          subs = [csub];
          console.log(subs);
          store.set('{{ site.domain }}', subs);
          window.history.pushState('', '', '/?sub=' + subs.join());
        });
    });
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-36274081-2', 'auto');
      ga('send', 'pageview');
    </script>