{% include base_path %}

{% if post.header.teaser %}
	{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
	{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
	{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
	{% assign title = post.title %}
{% endif %}
<hr/>
<div class="{{ include.type | default: "list" }}__item">
	<article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
		{% if include.type == "grid" and teaser %}
		<div class="archive__item-teaser">
          <img src=
            {% if teaser contains "://" %}
              "{{ teaser }}"
            {% else %}
              "{{ teaser | prepend: "/images/" | prepend: base_path }}"
            {% endif %}
            alt="">
        </div>
		{% endif %}
 
      <li>
		{% if post.author %}
			{{ post.author }},
		{% endif %}
        "<b>{{ title }}</b>,"
		{% if post.venue %}
			in <i>{{ post.venue}}</i>
		{% endif %}
		{% if post.volume %}
		, vol. {{ post.volume}}
		{% endif %}
		{% if post.issue %}
        , issue {{ post.issue}}
		{% endif %}
		{% if post.address %}
        ,&nbsp;{{ post.address}}
		{% endif %}
		{% if post.year %}
		,&nbsp;{{ post.year}}
		{% endif %}
		
		{% if post.page %}
		,&nbsp;pp. {{ post.page}}
		{% endif %}
          
		{% if post.bib and post.paperurl %}
		.&nbsp;[ <span style="font-size:12px"><a href="{{ post.paperurl }}" style="color:blue">PDF</a> | <a href="{{ post.bib }}" style="color:blue">BIB</a></span> ]
		{% elsif post.bib %}
		.&nbsp;[ <span style="font-size:12px color:blue"><a href="{{ post.bib }}">BIB</a></span> ]
		{% elsif post.paperurl %}
		.&nbsp;[ <span style="font-size:12px color:blue"><a href="{{ post.paperurl }}">PDF</a></span> ]
		{% endif %}

        {% if post.remark %}
          &nbsp; <span style="font-style:bold color:red">post.remark</span>
        {% endif %}
      </li>
 
    </article>
</div>
