{% include base_path %}

{% if post.header.teaser %}
	{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
	{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
	{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
	{% assign title = post.title %}
{% endif %}
<hr/>
<div class="{{ include.type | default: "list" }}__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
		{% if include.type == "grid" and teaser %}
		<div class="archive__item-teaser">
          <img src=
            {% if teaser contains "://" %}
              "{{ teaser }}"
            {% else %}
              "{{ teaser | prepend: "/images/" | prepend: base_path }}"
            {% endif %}
            alt="">
        </div>
		{% endif %}
 
      <li class="publication-item">
        {% if post.author %}
            <span class="pub-authors">{{ post.author }},</span>
        {% endif %}
        <span class="pub-title">"<b>{{ post.title }}</b>,"</span>
        {% if post.venue %}
            <span class="pub-venue">in <i>{{ post.venue }}</i>,</span>
        {% endif %}
        {% if post.volume %}
        <span class="pub-meta">vol. {{ post.volume }},</span>
        {% endif %}
        {% if post.issue %}
        <span class="pub-meta">issue {{ post.issue }},</span>
        {% endif %}
        {% if post.address %}
        <span class="pub-meta">{{ post.address }},</span>
        {% endif %}
        {% if post.year %}
            {% if post.page %}
                <span class="pub-meta">{{ post.year }},</span>
            {% else %}
                <span class="pub-meta">{{ post.year }}.</span>
            {% endif %}
        {% endif %}
        {% if post.page %}
        <span class="pub-pages">pp. {{ post.page }}.</span>
        {% endif %}
        {% if post.bib and post.paperurl %}
        <span class="pub-links">[ <a href="{{ post.paperurl }}" class="pub-link">PDF</a> | <a href="{{ post.bib }}" class="pub-link">BIB</a> ]</span>
        {% elsif post.bib %}
        <span class="pub-links">[ <a href="{{ post.bib }}" class="pub-link">BIB</a> ]</span>
        {% elsif post.paperurl %}
        <span class="pub-links">[ <a href="{{ post.paperurl }}" class="pub-link">PDF</a> ]</span>
        {% endif %}
        {% if post.remark %}
        <span class="pub-remark">{{ post.remark }}</span>
        {% endif %}
      </li>
 
    </article>
</div>
