.checkbox input[type="checkbox"]:checked:after {
  background-color: #0097e6;
  border-color: #0097e6;
}

.checkbox input[type="checkbox"]:after, .checkbox input[type="checkbox"]:focus:after {
  border-color: #0097e6;
}
