---
title: "AuthScan: Automatic Extraction of Web Authentication Protocols from Implementations"
collection: publications
permalink: /publication/2013-02-01-NDSS-Protocol-Verification
excerpt: 'It is a work of protocol verifcation to detect vulnerabilities in web protocols' #'This paper is about the number 1. The number 2 is left for future work.'
date: 2013-02-01
venue: 'Proceedings of the 20th Annual Network and Distributed System Security Symposium (NDSS)'
paperurl: 'http://impillar.github.io/files/ndss2013authscan.pdf'
author: "Guangdong Bai, Jike Lei, Guozhu Meng, Sai Sathyanarayan Venkatraman, Prateek Saxena, Jun Sun, Yang Liu, and Jin Song Dong"
address: "San Diego, California, USA"
bib: "http://impillar.github.io/files/ndss2013authscan.bib"
year: 2013
citation: 'Guangdong Bai, Jike Lei, <b>Guozhu Meng</b>, Sai Sathyanarayan Venkatraman, Prateek Saxena, Jun Sun, Yang Liu, and Jin Song Dong. (2013). &quot;AuthScan: Automatic Extraction of Web Authentication Protocols from Implementations.&quot; <i>Proceedings of the 20th Annual Network and Distributed System Security Symposium</i>'
---
<!--
This paper is about the number 1. The number 2 is left for future work.

[Download paper here](http://academicpages.github.io/files/paper1.pdf)

#Recommended citation: Your Name, You. (2009). "Paper Title Number 1." <i>Journal 1</i>. 1(1).

-->
